body{
    background-color:#040273;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
header { background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    
    
    


}
.ota {
    color: #040273;
    font-size: 20px;
}

nav ul {
    list-style: none;
    color: #040273;
    margin: 0px;
    padding: 0px;
    display: flex;
    

}
nav ul li{
    margin-left: 20px;
}
section {
    position: fixed;
    background-color: aliceblue;
    top: 40%;
    width: 500px;
    height: 300px;
}